<div class="modal-header">
  <h1>Nuevo Usuario</h1>
</div>
<form name="valida">
<div class="modal-body">
        <div class="form-group">
            <label>Seleccione el ról</label>
            <select class="form-control" name="rol" ng-model="newUsuario.id_rol" ng-options="rol.id_rol as rol.nombre_rol for rol in roles | orderBy:'nombre_rol'" ng-required="true">
                <option value="">seleccione</option>
            </select>
            <p class="help-block" ng-show="valida.rol.$dirty && valida.rol.$error.required">Campo obligatorio</p>
        </div>
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" placeholder="Ingrese el usuario nuevo" name="usuario" class="form-control" ng-model="newUsuario.usuario" ng-required="true">
            <p class="help-block" ng-show="valida.rol.$dirty && valida.rol.$error.required">Campo obligatorio</p>
        </div>
        <div class="form-group">
            <label>Nombres</label>
            <input type="text" placeholder="Ingrese nombre" name="nombre_jugador" class="form-control" ng-model="newUsuario.nombre_jugador" ng-required="true" ng-minlength="2" ng-pattern="/^(([A-za-z]+[\s]{1}[A-za-z]+)|([A-Za-z]+))$/">
            <p class="help-block" ng-show="valida.nombre_jugador.$dirty && valida.nombre_jugador.$error.minlength">Debe ser un minimo de 2 letras</p>
            <p class="help-block" ng-show="valida.nombre_jugador.$dirty && valida.nombre_jugador.$invalid">Debe ingresar su primer y segundo nombre o solo su primer nombre</p>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" placeholder="Ingrese apellido" name="apellido_jugador" class="form-control" ng-model="newUsuario.apellido_jugador" ng-required="true" ng-minlength="2" ng-pattern="/^(([A-za-z]+[\s]{1}[A-za-z]+)|([A-Za-z]+))$/">
            <p class="help-block" ng-show="valida.apellido_jugador.$dirty && valida.apellido_jugador.$error.minlength">Debe ser un minimo de 2 letras</p>
            <p class="help-block" ng-show="valida.apellido_jugador.$dirty && valida.apellido_jugador.$invalid">Debe ingresar su primer y segundo apellido o solo su primer apellido</p>
        </div>
        <div class="form-group">
            <label>Nickname</label>
            <input type="text" placeholder="Ingrese nickname" name="nickname_jugador" class="form-control" ng-model="newUsuario.nickname_jugador">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Ingrese el Email" name="email" class="form-control" ng-model="newUsuario.email" ng-pattern="/^[a-z0-9_\.-]+@[a-z0-9_-]+\.[a-z]{2,3}(\.[a-z]{2})?$/">
            <p class="help-block" ng-show="valida.email.$invalid">Ingrese un correo valido</p>
        </div>
        <div class="form-group">
            <label>Numero de Telefono</label>
            <input type="number" placeholder="Ingrese su numero de contacto" name="telefono_jugador" class="form-control" ng-model="newUsuario.telefono_jugador" ng-minlength="6" ng-maxlength="15" ng-pattern="/^[0-9]*$/" >
            <p class="help-block" ng-show="valida.telefono_perfil.$dirty && valida.telefono_perfil.$error.minlength">Debe ser un minimo de 6 numeros</p>
            <p class="help-block" ng-show="valida.telefono_perfil.$dirty && valida.telefono_perfil.$invalid">Ingrese un numero de telefono valido/p>
        </div>
        <div class="form-group">
            <label>Nacionalidad</label>
            <input type="text" placeholder="Ingrese nickname" name="pais_jugador" class="form-control" ng-model="newUsuario.pais_jugador" ng-required="true">
            <p class="help-block" ng-show="valida.pais_jugador.$dirty && valida.pais_jugador.$error.required">Campo obligatorio</p>
        </div>
        <div class="form-group">
            <label>Direccion</label>
            <input type="text" placeholder="Ingrese nickname" name="direccion_jugador" class="form-control" ng-model="newUsuario.direccion">
        </div>
        <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input type="date"  name="fecha_nacimiento" class="form-control" ng-model="newUsuario.fecha_nacimiento" ng-required="true">
            <p class="help-block" ng-show="valida.fecha_nacimiento.$dirty && valida.fecha_nacimiento.$error.required">Campo obligatorio</p>
            <p class="help-block" ng-show="valida.fecha_nacimiento.$dirty && valida.fecha_nacimiento.$invalid">Fecha invalida</p>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline btn-default" ng-click="cerrarModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="guardar(newUsuario)" ng-disabled="valida.$invalid"> Guardar</button>
</div>
</form>